node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vercel
.data
.env*.local

# Contributor-mode marker (written by /onboard; never committed)
.claude/contributor
.claude/settings.local.json
